In [1]:
import pandas as pd
import os
getwd = os.getcwd()
print(getwd)

d:\PENS-EEPIS\SDT A Semester 2 2025\Pemrosesan Data\Folder untuk PAS

In [2]:
data1 = pd.read_excel('indie_top.xlsx')
data2 = pd.read_excel('pop_list.xlsx')
data3 = pd.read_excel('rock_list.xlsx')
data4 = pd.read_excel('reggae_top.xlsx')

In [3]:
data = pd.concat([data1, data2, data3, data4], ignore_index=True)
data.head()

,web-scraper-order,web-scraper-start-url,song,song-href,artis,album,viewed,tahun_rilis,genre
0,1748505181-1,https://open.spotify.com/playlist/37i9dQZF1DXd...,Semua Aku Dirayakan,https://open.spotify.com/intl-id/track/2x3vwXW...,Nadin Amizah,Semua Aku Dirayakan,190.277.503,Nadin Amizah•Semua Aku Dirayakan•2023•5:10•190...,indie
1,1748505212-2,https://open.spotify.com/playlist/37i9dQZF1DXd...,Hujan Mata Pisau,https://open.spotify.com/intl-id/track/7Faxule...,Fstvlst,Hits Kitsch,3.523.565,Fstvlst•Hits Kitsch•2014•4:34•3.523.565,indie
2,1748505242-3,https://open.spotify.com/playlist/37i9dQZF1DXd...,"the more i try to trace you forthwith, the les...",https://open.spotify.com/intl-id/track/6J1VgkP...,eleventwelfth,SIMILAR,4.173.966,eleventwelfth•SIMILAR•2023•3:50•4.173.966,indie
3,1748505273-4,https://open.spotify.com/playlist/37i9dQZF1DXd...,Rumah Ke Rumah,https://open.spotify.com/intl-id/track/2wAiFWj...,Hindia,Menari Dengan Bayangan,469.951.327,Hindia•Menari Dengan Bayangan•2019•4:37•469.95...,indie
4,1748505303-5,https://open.spotify.com/playlist/37i9dQZF1DXd...,Asmalibrasi,https://open.spotify.com/intl-id/track/3TFdXrY...,Soegi Bornean,Asmalibrasi,229.593.278,Soegi Bornean•Asmalibrasi•2019•4:14•229.593.278,indie

In [4]:
data.columns

Index(['web-scraper-order', 'web-scraper-start-url', 'song', 'song-href',
       'artis', 'album', 'viewed', 'tahun_rilis', 'genre'],
      dtype='object')

In [5]:
data = data.drop(['web-scraper-order','web-scraper-start-url','song-href'], axis=1)
data.head()

,song,artis,album,viewed,tahun_rilis,genre
0,Semua Aku Dirayakan,Nadin Amizah,Semua Aku Dirayakan,190.277.503,Nadin Amizah•Semua Aku Dirayakan•2023•5:10•190...,indie
1,Hujan Mata Pisau,Fstvlst,Hits Kitsch,3.523.565,Fstvlst•Hits Kitsch•2014•4:34•3.523.565,indie
2,"the more i try to trace you forthwith, the les...",eleventwelfth,SIMILAR,4.173.966,eleventwelfth•SIMILAR•2023•3:50•4.173.966,indie
3,Rumah Ke Rumah,Hindia,Menari Dengan Bayangan,469.951.327,Hindia•Menari Dengan Bayangan•2019•4:37•469.95...,indie
4,Asmalibrasi,Soegi Bornean,Asmalibrasi,229.593.278,Soegi Bornean•Asmalibrasi•2019•4:14•229.593.278,indie

In [6]:
# Ambil tahun 4 digit menggunakan regex
data['tahun_rilis'] = data['tahun_rilis'].str.extract(r'(\b\d{4}\b)')
data.head()

,song,artis,album,viewed,tahun_rilis,genre
0,Semua Aku Dirayakan,Nadin Amizah,Semua Aku Dirayakan,190.277.503,2023,indie
1,Hujan Mata Pisau,Fstvlst,Hits Kitsch,3.523.565,2014,indie
2,"the more i try to trace you forthwith, the les...",eleventwelfth,SIMILAR,4.173.966,2023,indie
3,Rumah Ke Rumah,Hindia,Menari Dengan Bayangan,469.951.327,2019,indie
4,Asmalibrasi,Soegi Bornean,Asmalibrasi,229.593.278,2019,indie

# Cleaning data

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song         161 non-null    object
 1   artis        161 non-null    object
 2   album        161 non-null    object
 3   viewed       161 non-null    object
 4   tahun_rilis  161 non-null    object
 5   genre        161 non-null    object
dtypes: object(6)
memory usage: 7.7+ KB

In [8]:
data['tahun_rilis'] = data['tahun_rilis'].astype(int)
data['viewed'] = data['viewed'].str.replace('.', '', regex=False).astype(int)
data['song'] = data['song'].astype('string')
data['artis'] = data['artis'].astype('string')
data['genre'] = data['genre'].astype('string')
data['album'] = data['album'].astype('string')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song         161 non-null    string
 1   artis        161 non-null    string
 2   album        161 non-null    string
 3   viewed       161 non-null    int32
 4   tahun_rilis  161 non-null    int32
 5   genre        161 non-null    string
dtypes: int32(2), string(4)
memory usage: 6.4 KB

In [10]:
data.duplicated().sum()

0

In [11]:
data.isnull().sum()

song           0
artis          0
album          0
viewed         0
tahun_rilis    0
genre          0
dtype: int64

In [12]:
data.to_csv('top_hits.csv', index=False)